<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <Properties.Settings>
      <setting name="CameraNumber" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="AutoDetect" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>COM4</value>
      </setting>
      <setting name="DumpDir" serializeAs="String">
        <value>dumps</value>
      </setting>
      <setting name="FlowMode" serializeAs="String">
        <value>Device</value>
      </setting>
      <setting name="RawRotate" serializeAs="String">
        <value>False</value>
      </setting>
    </Properties.Settings>
  </applicationSettings>
</configuration>
