/build
/src/main/assets
/src/secured/*.i
/src/secured/cpp_gen
/src/secured/java/com/intel/realsenseid/api
/src/standard/*.i
/src/standard/cpp_gen
/src/standard/java/com/intel/realsenseid/api
.cxx
.gradle
.project
.settings
.idea