/build
/src/main/assets
/src/secured/*.i
/src/secured/cpp_gen
/src/secured/java/com/intel/realsenseid/api
/src/unsecured/*.i
/src/unsecured/cpp_gen
/src/unsecured/java/com/intel/realsenseid/api
.cxx
.gradle
.project
.settings